/* CSS declarations go here */
html, body {
  background: #B7BDC4;
  height: 100%;
  font-family: 'Gudea', Verdana, Helvetica, sans-serif;
}
input, footer {
  font-family: 'Gudea', Verdana, Helvetica, sans-serif;
}
h1,h2 {
  font: 400 95px/1.1 'Rancho', Georgia, serif;
}
p {
  font: 400 17px/1.6 'Gudea', Verdana, Helvetica, sans-serif;
}
h1 {
  width: 100%;
  text-align: center;
}
h1 a{
  color: #FCCF65;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
h1 a:hover {
  text-decoration: none;
  color: #FCCF65;
}

h2.tagline {
  font-size: 5em;
  text-align: center;
	margin-bottom: 10px;
}

#new_item {
  width: 100%;
  text-align: center;
}
#new_item input {
  font-family: 'Gudea', Verdana, Helvetica, sans-serif;
  font-size: 200%;
  display:block;
  margin:auto;
  padding: 20px;
  width: 90%;
}
#items {
  width: 90%;
  margin: 10px auto;
}
.share {
  padding: 10px;
  text-align: center;
}
.item {
  font-size: 3em;
  padding: 20px 10px;
  cursor: pointer;
  border-bottom: 1px dotted #777;
  width: 100%;
  overflow:auto;
  text-align:center;
}
.item .name { display:block; line-height: 1.3em;}

.item input {width: 80%;}

#items.view {
  width: 95%;
}

.view .item {
  font-size: 3em;
}

.item:hover {
  background: #FCCF65;
}
.item:focus {
  background: #FCCF65;
}

.item .count {
  float:right;
  text-align: right;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
/*.item input {
  background: transparent;
  border: none;
  box-shadow: none;
}*/
/*.item input.person {
  float:right;
}*/
.item input.name {
  color: black;
}
.item ::-webkit-input-placeholder {
    color:    #777;
}

footer {
  margin-top: 20px;
  color: #FCCF65;
  padding: 10px;
  font-size: 2em;
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #items.view {
    width: 80%;
  }
  .item { text-align: left; font-size: 2em;}
  .item .name { display:inline; line-height: normal;}
  .item input {
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
  }
  .item input.person {
    float:right;
  }
  #new_item input {
    width: 50%;
  }
}
@media all and (min-width: 1000px) {
  #items.view {
    width: 80%;
  }
  .item { text-align: left; font-size: 2em;}
  .item .name { display:inline; line-height: normal;}
  .item input {
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
  }
  .item input.person {
    float:right;
  }
  #new_item input {
    width: 50%;
  }
}
